<div class="row text-white bg-dark mb-4">
  <div class="col-md-4 col-12 card-header">
    <img src="/assets/images/" class="img-fluid" height="180px">
  </div>
  <div class="col-md-8 col-12 card-header pt-4">
    <h1>SpicyBurnz</h1>
    <h3>blah blah blah (index.handlebars)</h3>
  </div>
</div>
<div class="jumbtron">
  <div class="row">
    <div class="card border-0 rounded-0 mb-3 mx-4 id="options"">
      <h2 class="card-header text-center">Ready to vote on Burnz</h2>
      <div class="card-body">
        <div class="card-text"> 
          
        {{!-- sent from html-routes.js --}}
        {{#each Post}}
          <p>{{this.entry}}</p>

          <div data-id="{{this.id}}" data-spicy="{{this.spicy}}" class="spicy-vote">
            <p>Spicy: {{this.spicy}}</p>
          </div>
          <div data-id="{{this.id}}" data-icy="{{this.icy}}" class="icy-vote">
            <p>Icy: {{this.icy}}</p>
          </div>

        {{/each}}

        </div>
      </div>
    </div>
  </div>
</div>

