<div class="container">
  <div class="row">
    <a href="/edit" class="btn btn-dark py-2 col-12 mb-3">Add Joke</a>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h2>Ready to vote on Burnz</h2>
    </div>
  </div>
  
  {{#each Post}}

  <div class="row">
    <div class="col-2 spicy-vote" data-id="{{this.id}}" data-spicy="{{this.spicy}}">
      <button class="btn btn-danger"><i class="fas fa-fire"></i></i> Spicy: {{this.spicy}}</button>
    </div>
    <div class="col-8 mb-3">
      {{!-- sent from html-routes.js --}}
      
      <p>{{this.entry}}</p>
      
    </div>
    <div class="col-2 icy-vote" data-id="{{this.id}}" data-icy="{{this.icy}}">
      <button class="btn btn-info"><i class="far fa-snowflake"></i> Icy: {{this.icy}}</button>
    </div>
  </div>

  {{/each}}

</div>



