{{!-- Logo --}}
<div class="col-12">
  <div id="logo-main"></div>
</div>

{{!-- Index Page --}}
<div class="container" id="index-page">
  <div class="row">
    <div class="col-6" id="instruction-div">
      <h5 id="instructions">
        If you just want to judge randos on the internet go ahead - rate some sick burnz. You literally just pick spicy or icy. That's it. Go forth and judge. Or, if you actually think you're funny, prove it...
      </h5>
       <div class="nav-bar">
        <a class="links" id="show-jokes"> Show jokes </a>
        <a class="links" data-toggle="modal" data-target="#exampleModalCenter"> Add your own </a>
      </div>
    </div>
  </div>
</div>


{{!-- List Page --}}
<div class="container" id="joke-list">
  {{!-- Open Modal Button --}}
  <a class="links" data-toggle="modal" data-target="#exampleModalCenter"> Add your own </a>

  {{#each Post}}

    <div class="row" data-row-id="{{this.id}}" data-guessed="false" id="individual-joke">

      <div class="col-2 spicy-vote" data-id="{{this.id}}" data-spicy="{{this.spicy}}">
        <button class="btn btn-danger" id="spicy-button"><i class="fas fa-fire"></i></i> Spicy <div class="value"></div></button>
      </div>

      <div class="col-8 mb-3">
        <p>{{this.entry}}</p> 
      </div>

      <div class="col-2 icy-vote" data-id="{{this.id}}" data-icy="{{this.icy}}">
        <button class="btn btn-info"><i class="far fa-snowflake"></i> Icy <div class="value"></div></button>
      </div>

    </div>

  {{/each}}

</div>


 <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle" style="font-weight:bold">MAKE US LAUGH</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="joke-form">
          <div class="form-group">
            <label for="body">Joke:</label>
            <textarea class="form-control" rows="3" id="body"></textarea>
            <div class="form-group">
              <label for="category">Select Category:</label>
              <select class="form-control" id="category">
              </select>
            </div>
            <br/>
            <button type="submit" class="btn btn-secondary submit" id="submit-button">Add Joke</button>
          </div>
        </form>
        {{!--    <div class="col-6" id="not-funny"> --}}
        {{!--    <h5>Realized you aren't actually funny? That's chill, go back to anonymously judging other people.</h5> --}}
        {{!--    <div class="nav-bar"> --}}
        {{!--    </div> --}}
        {{!--    </div> --}}
      </div>
    </div>
  </div>
</div>